.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader>div {
  width: 12px;
  height: 12px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
}

.dot1 {
  animation: bouncing 0.6s infinite alternate;
}

.dot2 {
  animation: bouncing 0.6s infinite alternate;
  animation-delay: 0.2s;
}

.dot3 {
  animation: bouncing 0.6s infinite alternate;
  animation-delay: 0.4s;
}

@keyframes bouncing {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-20px);
  }
}